.paper
  background-color: #fff !important
  text-align: center !important
  overflow: auto !important
  header
    width: 100% !important

.templet-appbar
  background-color: #002f6c !important
  overflow: auto !important

.tab-content
  text-align: center
  overflow: auto !important